.inicio {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b0b0b;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.header {
    color: #cbd5e0;
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

body {
    color: #D1D5DB;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f6f8fc;
    margin: 0;
    height: 100vh;
    background-image: url('./../../imagenes/logo.png');

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    display: flex;
    align-items: center;
    color: #6c6d6d;
    margin-bottom: 16px;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-weight:900;

}
.title {
    margin-left: 5px;
    font-family:'Times New Roman', 'Times', 'serif';
    font-size: 150%;
    text-align: center;
}

.test{
        margin-top: 2.5rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.25rem;
        letter-spacing: -0.025em;
        color: #1a202c;

}
.uno {
    margin-top: 2.5rem;
  }

  @media (min-width: 640px) {
    .uno {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 20rem;
    }
  }

  .custom {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #111827;
  }
  .dos-class {
    display: block;
    width: 100%;
    border: none;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    color: #111827;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
    border: 1px solid transparent;
    border-color: #D1D5DB;
    border-left-color: #9CA3AF;
    outline: none;
  }

  .dos-class:focus {
    border-color: #4F46E5;
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.5);
  }

  @media (min-width: 640px) {
    .dos-class {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }

  .buton-class {
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 0.375rem;
    background-color: #4F46E5;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
  }

  .buton-class:hover,
  .buton-class:focus-visible {
    background-color: #4338CA;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }

  .buton-class:focus-visible {
    outline-color: #4F46E5;
  }

  .testo {
    background-image: url('./../../imagenes/usr.png');
    background-repeat: no-repeat;
    background-size: 50px 28px;
    position: sticky;
    top: 200px;
    padding-left: 30px;
    padding-right: 100px;
  }
