
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.component.css">
    <title>Los Más Gustados de la Semana</title>
</head>
<body class="inicio">
    <header class="header">
        <div class="container">
            <a class="logo" href="">
                <span class="logo-imagen"></span>
                <span class="title">SIGN UP</span>
            </a>

        </div>
    </header>
</body>
<div class="testo">
  <div >
    <h2 class="test">Registrate aquí</h2>
  </div>

  <div class="uno">
    <form class="space-y-6" action="#" method="POST">
      <div>
        <label for="email" class="custom">Nombre</label>
        <div class="mt-2">
          <input id="nombre" name="nombre" type="nombre" autocomplete="nombre" required class="dos-class">
        </div>
        </div>
      <div>
        <label for="email" class="custom">Correo electronico</label>
        <div class="mt-2">
          <input id="email" name="email" type="email" autocomplete="email" required class="dos-class">
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="custom">Password</label>
        </div>
        <div class="mt-2">
          <input id="password" name="password" type="password" autocomplete="current-password" required class="dos-class">
        </div>
      </div>

      <div>
        <button type="submit" href="/inicio" class="buton-class">Registrar</button>
        <br>
        <a class="buton-class" href='./home'>Volver</a>
      </div>
    </form>
  </div>
</div>


