<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <title>Los Más Gustados de la Semana</title>
</head>
<body class="inicio">
    <header class="header">
        <div class="container">
            <a class="logo" href="#">
                <span class="logo-image"></span>
                <span class="title">LOS MAS GUSTADOS DE LA SEMANA</span>
            </a>
            <nav class="navigation">
                <a class="nav-link" href="/contact">Sign up</a>
                <a class="nav-link" href="/about">Login</a>
            </nav>
        </div>
    </header>
</body>
<body class="text-gray-400 body-font bg-gray-900">
    <section>
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-wrap -m-4">
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                        <span class="principito"></span>
                        <h2 class="text-lg text-white font-medium title-font mb-4">El Principito</h2>
                        <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">Autor: Antoine de Saint-Exupéry</h3>
                        <p class="leading-relaxed text-base">La historia se centra en un pequeño príncipe que realiza una travesía por el universo. En este viaje descubre la extraña forma en que los adultos ven la vida y comprende el valor del amor y la amistad.</p>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                        <span class="elcoronel"></span>
                        <h2 class="text-lg text-white font-medium title-font mb-4">El Coronel no tiene quien le escriba</h2>
                        <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">Autor: Gabriel García Márquez</h3>
                        <p class="leading-relaxed text-base">La historia habla de un coronel que espera, desde hace quince años, la asignación de su pensión por los servicios prestados a la patria.</p>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                        <span class="perdon"></span>
                        <h2 class="text-lg text-white font-medium title-font mb-4">Perdona si te llamo amor</h2>
                        <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">Autor: Federico Moccia</h3>
                        <p class="leading-relaxed text-base">Son tres historias de amor con nombre propio que relatan los sueños y preocupaciones de la juventud actual, con personajes con los que podemos identificarnos o con los cuales recordar como éramos en nuestra adolescencia, cuando lo más importante era el fin de los exámenes y las fiestas con los amigos.</p>
                    </div>
                </div>
                <div class="xl:w-1/4 md:w-1/2 p-4">
                    <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
                        <span class="paprika"></span>
                        <h2 class="text-lg text-white font-medium title-font mb-4">Paprika</h2>
                        <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">Autor: Yasutaka Tsutsui</h3>
                        <p class="leading-relaxed text-base">Está basado en una novela homónima de Yasutaka Tsutsui. También hay dos adaptaciones al manga de la misma, y se llegó a plantear un "remake" de imagen real que acabó cancelándose.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
